.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 10px;
  gap: 64px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.ctas {
  display: flex;
  gap: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.ctas .signin {
  background-color: darkgreen;
}

.ctas .signin:hover {
  background-color: darkgreen;
  filter: brightness(1.1);
}

.ctas .signup {
  border: 1px solid darkgreen;
  color: darkgreen;
}

.ctas .signup:hover {
  background-color: white;
  filter: brightness(1.1);
}
.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  color: darkgray
}